
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Email: <a href="mailto:aabbott.business@gmail.com">aabbott.business@gmail.com</a></p>
    <p>LinkedIn: <a href="https://linkedin.com/in/raabbott" target="_blank">linkedin.com/in/raabbott</a></p>
    <p>GitHub: <a href="https://github.com/raabbott" target="_blank">github.com/raabbott</a></p>
  </div>
</div>
</body>
</html>
