<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="register">
  <div class="container form">
    <div class="row">
      <div class="form_bg">
          <form>
            <div class="form-group">
              <label for="emailForm">Email Address:</label>
              <input class="form-control" placeholder="Email" name="email" id="emailForm">
              <br>
              <label for="passwordForm">Password</label>
              <input class="form-control" id="passwordForm" placeholder="Password" name="password">
              <button></button>
            </div>
          </form>
      </div>
    </div>
  </div>
</body>


